@import "tailwindcss";

:root {
  --background: #FEF9EF;
  --text: #AC7383;
  --primary: #227b9b;
  --secondary: #ffca75;
  --borderFill: #17C3B2;
  --accent: #FE6D73;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0a01;
    --text: #8b4b5a;
    --primary: #64bddd;
    --secondary: #8a5500;
    --borderFill: #3be8d7;
    --accent: #fe6c71;
  }
}

h1 {
  font-family: var(--font-bacasime), serif;
  font-size: 400px;
}

h3 {
  font-family: var(--font-bacasime), serif;
  font-size: 150px;
}

h5 {
  font-family: var(--font-inclusive), sans-serif;
  font-size: 32px;
  margin-bottom: 0.75em;

}

p {
  font-family: var(--font-inclusive), sans-serif;
  font-size: 16px;
  margin-bottom: 1em;
}

a {
  color: var(--accent)
}

header {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-armata), monospace;
  font-size: 20px;
  background: var(--primary);
  color: var(--secondary);
  border: 15px solid var(--primary);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inclusive), sans-serif;
  font-size: 18px;
}

img {
  border: 35px solid var(--borderFill);
  width: 500;
}

figcaption {
  font-size: 0.8em;
}

