@import "tailwindcss";

:root {
  --background: #FEF9EF;
  --text: #B37382 /*#AC7383*/ ;
  --primary: #227b9b;
  --secondary: #ffca75;
  --borderFill: #17C3B2;
  --accent: #FE6D73;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2D0320;
    --text: #99D5C9;
    --primary: #645E9D;
    --secondary: #392B58;
    --borderFill: #6C969D;
    --accent: #636c75;
  }
}

h1 {
  font-family: var(--font-bacasime), serif;
  font-size: 400px;
}

h3 {
  font-family: var(--font-bacasime), serif;
  font-size: 150px;
}

h5 {
  font-family: var(--font-inclusive), sans-serif;
  font-size: 32px;
  margin-bottom: 0.75em;

}

p {
  font-family: var(--font-inclusive), sans-serif;
  font-size: 16px;
  margin-bottom: 1em;
}

a {
  color: var(--accent)
}

header {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-armata), monospace;
  font-size: 20px;
  background: var(--primary);
  color: var(--secondary);
  border: 15px solid var(--primary);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inclusive), sans-serif;
  font-size: 18px;
}

img {
  border: 35px solid var(--borderFill);
  width: 500;
}

button{
  background: var(--background);
  border: 7px solid var(--background);
  color: var(--secondary);
  border-radius: 25px;
  width: fit-content;
  outline-width: 4;
  transition: box-shadow 0.3s ease-in-out;
}

button:hover{
  box-shadow: 0 0 10px 2px var(--primary);
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  background: var(--secondary);
  top: 50%;
  left: 50%;
  width: 85%;
  max-height: 75%;
  overflow-y: auto;
  padding: 30px;
  border-radius: 10px;
  min-width: 300px;
  align-items: center;
}

.card{
  font-size: 28px;
  background: var(--primary);
  border: 15px solid var(--primary);
  padding: 15px;
  border-radius: 25px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  outline-width: 4;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 20px 5px var(--primary);
}

.skill{
  background: var(--secondary);
  font-size: 14px;
  align-items: center;
  text-align: center;
  width: fit-content;
  border: 7px solid var(--secondary);
  border-radius: 25px;
}