@import "tailwindcss";

:root {
  --background: #FEF9EF;
  --text: #AC7383;
  --primary: #227b9b;
  --secondary: #ffca75;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0a01;
    --text: #8b4b5a;
    --primary: #64bddd;
    --secondary: #8a5500;
  }
}

h1 {
  font-family: var(--font-bacasime), serif;
  font-size: 400px;
}

h3 {
  font-family: var(--font-bacasime), serif;
  font-size: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-armata), monospace;
  font-size: 20px;
  background: var(--primary);
  color: var(--secondary);
  border-color: var(--primary);
  border-width: 5px;
  border-style: solid;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inclusive), sans-serif;
  font-size: 18px;
}

img {
  border: 15px solid #17C3B2;
  width: 400;
}

figcaption {
  font-size: 0.8em;
}
